.result {
    padding-top: 100px;
    padding-bottom: 131px;
    text-align: center;
}

.result .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.question-image {
    position: absolute;
    top: 105px;
    z-index: -1;
}

.result-title {
    max-width: 580px;
    margin-bottom: 60px;
}

.result-score {
    background-image: url("../images/result-image.png");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Museo Sans Cyrl Bold', sans-serif;
    font-size: 158px;
    line-height: 190px;
    text-align: center;
    color: #FFFFFF;
}

.show-answers {
    position: absolute;
    right: 0;
    bottom: -100px;
}

.show-answers {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.show-answers:hover  {
    text-decoration: underline;
    cursor: pointer;
}

.show-answers img {
    margin-left: 13px;
    display: flex;
    align-items: center;
    transition: .2s ease all;
}

.show-answers:hover img {
    transform: translateX(5px);
}